<ul class="navbar-nav ms-auto py-4 py-lg-0">
    {% for cat in cat.children.all %}
        <li class="nav-item">
            {% comment %}  create the pages for article{knews , sport , new , player} {% endcomment %}
            <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'blog:category' cat.slugs %}">{{cat.titles}}</a>  

{% comment %} 
این شرط میاد داخل فایل مورد نظر وارد میشه و درصورتی 
که دسته بندی مورد نظر بچه داشت اجرا میشه و دباره همون فایل بارگذاری مجدد میشه تا زمانی که تمامی دسته بندی ها بچه هاشونو نمایش بدن
 بدون این شرط فقط تا بچه دوم پیش میره و سراغ بچه های سوم و چهارم و... نمیره
{% endcomment %}
{% comment %} children from related name in parent = اگر دسته بندیمون بچه داشت{% endcomment %}
            {% if cat.children.all %} 
                {% include 'blog/partials/category_loop.html' %}
            {% endif %}}

        </li>
    {% endfor cat %}
</ul>