{% extends 'blog/list.html' %}


{% block header %}

{% endblock header %}


{% block previous_page_url %}
    {% url 'blog:home' page_obj.previous_page_number%}
{% endblock previous_page_url %}

{% block next_page_url %}
    {% url 'blog:home'  page_obj.next_page_number%}
{% endblock next_page_url %}













{% comment %} {% extends 'blog/base.html' %}
{% load static %}
{% block main %}
<!-- Main Content-->
<header class="masthead" style="background-image: url('{% static 'blog/assets/img/1.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>

            </div>
        </div>
    </div>
</header>{% endcomment %}

{% comment %} article from detail_article {% endcomment %}


{% comment %} <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
        {% for article in article_list %}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{% url 'blog:detail_article' article.Slug %}">
                    <h2 class="post-title">{{article.Title}}</h2>
                    <h3 class="post-subtitle">{{article.Description|truncatewords:30}}.</h3>
                </a>
                <p class="post-meta">
                    نوشته شده توسط
                    <a href="#!">حامد</a>
                    {{article.jpublish}} 

                </p>
            </div>
            <div>{% endcomment %}


    {% comment %} article from url.py and Category is the one objects of Article from models ......Category going to Category in models{% endcomment %}

    
                {% comment %} {% for cat in article.Category.active %}  
                 category from views/url and goin to Category models {% endcomment %}



                    {% comment %} <a href="{% url 'blog:category' cat.slugs %}">#{{cat.titles}}</a>
                {% endfor cat%} 
            </div> 
            <br><br>
        {% endfor %}
        <a href="#Top" class="button">برو بالای صفحه</a>
        <br>
        <br>
            <!-- Pager-->
            {% if is_paginated %}
                <div class="d-flex justify-content-end mb-4 pager-button">
                    {% if page_obj.has_previous %}                
                    <a class="btn btn-primary text-uppercase float-right" href="{% url 'blog:home' page_obj.previous_page_number%}">&rarr; پست های جدیدتر </a>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <a class="btn btn-primary text-uppercase float-right" href="{% url 'blog:home' page_obj.next_page_number%}">پست های قدیمیتر &larr;</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock main %}  {% endcomment %}