{% extends 'blog/base.html' %}
{% load static %}
{% block main %}
category.html
<!-- Main Content-->
<header class="masthead" style="background-image: url('{% static 'blog/assets/img/1.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
   
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>

            </div>
        </div>
    </div>
</header>
{% comment %} article from detail_article {% endcomment %}

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

        {% block header %}

        {% endblock header %}


        {% comment %} category from views/url file ... get arguman category(, related_name = 'articles') of Article models {% endcomment %}
        {% for article in object_list %} {%comment%}filter(Status='p' فیلتر اینجا قراره مقالات منتشر شدرو فقط نمایش بده /// اینجا فیلتر کار نمیکنه
        {% comment %} گرفتن تمام مقالات {% endcomment %}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{% url 'blog:detail_article' article.Slug %}">
                    <h2 class="post-title">{{article.Title}}</h2>
                    <h3 class="post-subtitle">{{article.Description|truncatewords:30}}.</h3>
                </a>
                <p class="post-meta">
                    نوشته شده توسط
                    <a href="#!">حامد</a>
                    {{article.jpublish}} 
                </p>
            </div>
            <div>
    {% comment %} article from url.py and Category is the one objects of Article from models ......Category going to Category in models{% endcomment %}
                {% for cat in article.Category.active %}  
                    <a href="{% url 'blog:category' cat.slugs %}">#{{cat.titles}}</a>
                {% endfor cat%} 
            </div> 
        {% endfor article %}

            <!-- Pager-->
            {% if is_paginated %}
                <div class="d-flex justify-content-end mb-4 pager-button">
                    {% if page_obj.has_previous %}                
                       <a class="btn btn-primary text-uppercase float-right" href="{% block previous_page_url %}{% endblock previous_page_url %}">&rarr; پست های جدیدتر </a>
                    {% endif %}
                     {% if page_obj.has_next %} 
                                                 {% comment %}  'blog:category' category.slug == برام کار نمیکنه نمیشناسه یا پیدا نمیکنه همین پایینی اوکیه     {% endcomment %}
                        <a class="btn btn-primary text-uppercase float-right" href="{% block next_page_url %}{% endblock next_page_url %}">پست های قدیمیتر &larr;</a>
                    {% endif %}
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock main %}