{% load i18n %}
{% load static %}
<category_navbar class="html"></category_navbar>
<div class="collapse navbar-collapse nav" id="navbarResponsive">
    <ul class="navbar-nav ms-auto py-4 py-lg-0">
        <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'blog:home' %}">{% trans 'Home' %}</a>   
        </li>
        {%for cat in category%} 
            {%if cat.parent == None%}
                <li class="nav-item">
                    {% comment %}  create the pages for article{knews , sport , new , player} {% endcomment %}
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'blog:category' cat.slugs %}">{{cat.titles}}
                    </a>  
{% comment %} 
این شرط میاد داخل فایل مورد نظر وارد میشه و درصورتی 
که دسته بندی مورد نظر بچه داشت اجرا میشه و دباره همون فایل بارگذاری مجدد میشه تا زمانی که تمامی دسته بندی ها بچه هاشونو نمایش بدن
 بدون این شرط فقط تا بچه دوم پیش میره و سراغ بچه های سوم و چهارم و... نمیره
{% comment %} children from related name in parent = اگر دسته بندیمون بچه داشت{% endcomment %}
                    {% if cat.children.all %} 
                        {% include 'blog/partials/category_loop.html' %}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor cat %} 
    </ul>
    <form class='from-inline mt-3' action='{% url 'blog:search' %}'>
        {% comment %} q = query {% endcomment %}
        <input type='text' name='q' class='from-control' placeholder={% trans "Text search" %}>
        <button class='btn btn-success' 
        style='padding:8px ;border-radius : 5cm ; margin-right:5px ;letter-spacing: 0.0675em;line-height: 1; '> 
           {% trans "Search" %}</button>
    </form>
    <style>
        .language-switcher {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color: #003d59;
            padding: 0.5%;
            border-radius: 10px;
            margin-bottom: -16px;
        }
    
        .language-switcher a {
            color: #fff;
            margin-left: 10px;
            font-weight: bold;
            font-size: 14px;
            transition: color 0.3s ease;
            border-bottom: 2px solid transparent;
            text-decoration: none;
        }
    
        .language-switcher a:hover {
            color: #ff5722;
            border-bottom-color: #ff5722;
        }
    </style>
    
    <div class="language-switcher">
        <a href="{% url 'change_lang' %}?lang=en&next=/en/{{request.path|slice:'4:'}}" style="color: aliceblue;">EN</a>
        <a href="{% url 'change_lang' %}?lang=fa&next=/fa/{{request.path|slice:'4:'}}" style="color: aliceblue;">FA</a>
    </div>
</div>